{% load core_filters %}
<div class="row tests-grid g-3">
    {% for test in tests %}
    <div class="col-12 col-lg-6">
        {% include 'core/tests/partial_card.html' with test=test user_results=user_results completed_test_ids=completed_test_ids card_index=forloop.counter0 %}
    </div>
    {% empty %}
    <div class="col-12">
        <div class="empty-state">
            <div class="empty-state-icon">
                <i class="fas fa-search"></i>
            </div>
            <h4 class="empty-state-title">Testlar topilmadi</h4>
            <p class="empty-state-text">Qidiruv so'zini o'zgartiring yoki boshqa filterni tanlang</p>
        </div>
    </div>
    {% endfor %}
</div>
